extends ../layout/index

block contenido 
    .py-5
        h1.text-4xl.my-3.font-extrabold.text-center.text-yellow-8 Inventory
            span.font-normal App 
        h2.text-center.text-2xl= pagina

    div(class="bf-white shadow py-8 px-4 rounded-lg max-w-md mx-auto")
        p(class= error ? 'bg-red-500' : 'bg-green-500').py-2.px-5.rounded-lg.w-full.font-bold.text-center.text.white.uppercase= mensaje
        
        if !error 
            a(href="/auth/login" class="text-center font-bold text-sm text-slate-600 uppercase mt.-10 block") ya puedes iniciar sesión.