extends ../layout/index

block contenido 
    .py-5
        h1.text-4xl.my-3.font-extrabold.text-center.text-yellow-8 Inventory
            span.font-normal App 
        h2.text-center.text-2xl= pagina

        p.text-center.text-gray-400.py-5.text-md Para proteger tu cuenta, debemos asegurar que seas tu <br> quien está intentando iniciar sesión

        .mt-2.mx-auto.max-w-96.py-3
            .bg-white.py-3.px-2
                form.space-y-5
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-1.font-bold(for="usuario") Email
                        input#usuario.w-full.px-3.py-2.border.border-blue-200.rounded-xl.placeholder-gray-200(placeholder="Correo electronico" type="text" name="correo electronico")

                    input(class="w-full bg-cyan-400 hover:bg-lime-400 py-2 text-white uppercase font-bold rounded-xl"  type="submit" value="Iniciar sesión")
                        

