extends ../layout/index 

block contenido
    h1.text-center.text-2xl.font-extrabold.py-10= pagina

    div(class="bg-white shadow py-8 px-6 rounded mx-auto max-w-md 4xl my-4 md:px-15")
        form.space-y-5(action="POST")
        h3.font-medium.text-gray-900-text-center Datos
        div
            label.block.text-sm.upperacase.text-gray-500.mb-3.font-bold(for="titulo") Marca
            input#titulo.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Toca poner algo aqui" type="text" name="elnombrexd") 
        div
            label.block.text-sm.upperacase.text-gray-500.mb-3.font-bold(for="titulo") Modelo
            input#titulo.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Toca poner algo aqui" type="text" name="elnombrexd") 
        div
            label.block.text-sm.upperacase.text-gray-500.mb-3.font-bold(for="titulo") Serial
            input#titulo.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Toca poner algo aqui" type="text" name="elnombrexd") 
        div
            label.block.text-sm.upperacase.text-gray-500.mb-3.font-bold(for="titulo") Usuario
            input#titulo.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Toca poner algo aqui" type="text" name="elnombrexd") 